# general
*~
*.log
tmp
dump
 
# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin
 
# SBT
dist
project/boot
project/target
project/plugins/target
target
.target
 
# Play
logs
RUNNING_PID
.sbtserver/*
*.log
build.sbt
.sbtserver
project/play-fork-run.sbt
project/.sbtserver.lock
*.sbt
*.html